:root {
  --texto_primario: #e6eaf2;
  --texto_secundario: #9aa4b2;
  --texto_terciario: #2549ba;
  --neon_primario: #a855f7;
  --neon_secundario: #00cfff;
  --neon_terciario: #00ff9c;
  --neon_gold: #ffe600;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Press Start 2P", monospace;
  list-style: none;
}

*:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 5px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: var(--texto_primario);
  /* background: radial-gradient(circle at top, #0b0f1a, #05070d 70%); */
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  /* background:
    linear-gradient(120deg, rgba(168, 85, 247, 0.15), transparent 40%),
    linear-gradient(300deg, rgba(0, 255, 156, 0.1), transparent 40%); */
  padding: 2% 5%;
  background:
    /* linear-gradient(
        rgba(0, 0, 0, 0),
        transparent,
        transparent,
        rgba(0, 0, 0, 0)
      )
      no-repeat, */ url("../imagens/background_pixelado.webp")
    no-repeat center / cover;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  line-height: 40px;
}

.linha {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  color: white;
  background-color: var(--neon_secundario);
  box-shadow: 0 0 15px currentColor;
  opacity: 0.2;
}

svg {
  height: 100%;
  aspect-ratio: 1;
}

/* HEADER --------------------------------------------------------- */
/* HEADER --------------------------------------------------------- */
/* HEADER --------------------------------------------------------- */

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 15dvh;
  gap: 25px;
}

header h1 {
  font-size: 2rem;
  text-shadow: 0 0 10px currentColor;
  border: 3px solid rgba(126, 41, 224, 0.73);
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(100deg, #200273ad, #170e78b2);
}

header h1 span:first-of-type {
  color: var(--neon_primario);
}

header h1 span:nth-of-type(2) {
  color: var(--neon_secundario);
}

header h1 span:nth-of-type(3) {
  color: var(--neon_terciario);
}

header p {
  font-size: 1rem;
  line-height: 20px;
}

/* INPUT --------------------------------------------------------- */
/* INPUT --------------------------------------------------------- */
/* INPUT --------------------------------------------------------- */

.center {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

#input_container {
  display: flex;
  gap: 15px;
  width: 100%;
}

#input_container input {
  width: 100%;
  background-color: rgb(10, 43, 104);
  color: var(--texto_primario);
  border: 2px solid var(--texto_secundario);
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
}

input:focus {
  border-color: var(--neon_secundario) !important;
}

#input_container input.erro {
  border-color: red;
  animation: erro 0.5s linear forwards;
}

@keyframes erro {
  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(-10%);
  }
}

#input_container button {
  color: black;
  background-color: #56e041;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* SEQUENCIA ------------------------------------------ */
/* SEQUENCIA ------------------------------------------ */
/* SEQUENCIA ------------------------------------------ */

#sequencia {
  position: absolute;
  bottom: 5%;
  width: 102vw;
  justify-items: center;
  z-index: 1;
  border: 3px solid var(--neon_primario);
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        transparent,
        transparent,
        rgba(0, 0, 0, 0.5)
      )
      no-repeat,
    url("../imagens/background_pixelado.webp") no-repeat top / cover;
  padding: 15px 5px;
  transform: translateX(-100%);
  opacity: 0;
  transition:
    opacity 0.5s,
    transform 0.5s;
}

#sequencia h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--neon_gold);
  text-shadow: 0 0 8px currentColor;
}

#sequencia.streak {
  transform: translateX(0);
  opacity: 1;
  /* animation: pop 0.5s ease; */
}

#sequencia svg {
  height: 40px;
  margin-right: 15px;
}

#sequencia span {
  font-size: 2.3rem;
}

#sequencia span.pop {
  animation: pop 0.5s ease;
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

/* BARRA DE PROGRESSO ------------------------------------------ */
/* BARRA DE PROGRESSO ------------------------------------------ */
/* BARRA DE PROGRESSO ------------------------------------------ */

#barra_progresso {
  width: 100%;
  height: 20px;
  transform: scaleY(0.6);
  margin: 15px 0;
  border-radius: 5px;
  background-color: white;
  border: 3px solid var(--neon_gold);
  overflow: hidden;
  box-shadow: 0 0 10px currentColor;
  transition:
    height 1s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
  opacity: 0.6;
  transform-origin: center;
  will-change: transform;
}

#barra_progresso.ativo,
#barra_progresso.completo {
  transform: scaleY(1.2);
  opacity: 1;
}

#barra_progresso.completo {
  animation: progressoCompleto 0.4s ease forwards;
}

#barra_progresso.idle {
  opacity: 1;
  animation: progressoIdle 2s ease-in-out infinite;
}

#barra_desprogresso {
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform-origin: right center;
  background: var(--texto_terciario);
}

@keyframes progressoIdle {
  0%,
  100% {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 207, 255, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 207, 255, 0.7);
  }
}

@keyframes progressoCompleto {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.1);
    box-shadow:
      0 0 15px rgba(0, 255, 156, 1),
      0 0 25px rgba(0, 207, 255, 1);
  }
  100% {
    transform: scale(1.02);
    box-shadow:
      0 0 10px rgba(0, 255, 156, 0.4),
      0 0 20px rgba(0, 207, 255, 0.4);
  }
}

/* MENSAGEM MOTIVACIONAL ---------------------------------------- */
/* MENSAGEM MOTIVACIONAL ---------------------------------------- */
/* MENSAGEM MOTIVACIONAL ---------------------------------------- */

#msg_motivacional {
  height: 0;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--neon_gold);
  align-content: start;
  transition:
    padding 0.5s,
    margin 1s;
}

#msg_motivacional.aberto {
  padding: 1dvh 0 3dvh 0;
  margin: 1dvh 0 2dvh 0;
}

#msg_motivacional > span {
  position: relative;
  text-shadow: 0 0 15px currentColor;
}

#msg_motivacional svg {
  height: 30px;
  margin-left: 5px;
  position: absolute;
  top: -20%;
}

#separacao_mensagem_motivacional {
  height: 1px;
  padding: 0.5px;
  transform: scaleY(0);
  opacity: 0;
  transition:
    opacity 1s,
    transform 1s;
}

#separacao_mensagem_motivacional.aberto {
  transform: scaleY(1);
  opacity: 0.2;
}

/* LISTA -------------------------------------------------------- */
/* LISTA -------------------------------------------------------- */
/* LISTA -------------------------------------------------------- */

#tarefas_container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 53dvh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(35, 10, 60, 0.9), rgba(10, 5, 20, 1));
  box-shadow: 0 0 10px var(--texto_terciario);
}

#tarefas_container.pronto {
  border: 1px solid var(--texto_terciario);
}

/* --------- scrollbar */

#tarefas_container::-webkit-scrollbar {
  width: 3px;
}

#tarefas_container::-webkit-scrollbar-track {
  background: transparent;
}

#tarefas_container::-webkit-scrollbar-thumb {
  background: var(--texto_terciario);
}

#tarefas_container::-webkit-scrollbar-thumb:hover {
  background: var(--neon_primario);
}

/* --------- scrollbar */

li {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 20px 0;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

li.recem_criado {
  opacity: 0;
  transform: translateY(-10px);
}

li:not(li:first-of-type) {
  border-top: 3px solid transparent;
  animation: criando_borda 1.5s forwards;
}

@keyframes criando_borda {
  100% {
    border-color: var(--texto_terciario);
  }
}

li > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

#tarefas_container .checkbox {
  width: 35px;
  aspect-ratio: 1;
  border: 2px solid var(--neon_gold);
  border-radius: 5px;
  margin-left: 20px;
  position: relative;
}

li span,
#tarefas_container .checkbox {
  transition: opacity 1s;
}

li input:checked {
  width: 0;
}

li input:checked ~ .checkbox {
  color: var(--neon_gold);
  box-shadow: 0 0 10px currentColor;
}

li .checkbox svg {
  opacity: 0;
  position: absolute;
  height: 70%;
  /* top: -0%; */
  left: 15%;
  transition: opacity 0.3s;
}

li .coin {
  overflow: hidden;
  margin-left: auto;
  margin-right: 5vw;
  height: 50px;
  opacity: 0;
  padding: 8px;
  color: var(--neon_gold);
}

li .coin svg {
  height: 100%;
}

li input:checked ~ .coin {
  animation: floatUp 0.5s;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

li input:checked ~ .checkbox > svg {
  opacity: 1;
  animation: completo 0.5s forwards;
}

@keyframes completo {
  0% {
    transform: scale(3);
  }

  100% {
    transform: scale(1.2);
  }
}

#delete_all {
  background-color: rgba(255, 0, 0, 0.3);
  color: var(--texto_secundario);
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.6;
  transition:
    opacity 0.3s,
    color 0.3s,
    background-color 0.3s;
  margin-left: auto;
}

#delete_all.escondido {
  display: none;
}

#delete_all:hover {
  opacity: 1;
  color: #ff4d6d;
  background-color: var(--texto_secundario);
}

#delete_all svg {
  color: inherit;
  height: 100%;
}

#delete_alerta {
  overflow: hidden;
  position: fixed;
  padding: 2%;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  align-content: center;
  transform: scaleY(0);
  transition: transform 0.2s;
  will-change: transform;
  z-index: 2;
}

#delete_alerta svg {
  color: inherit;
  height: 50px;
  margin-bottom: 20px;
}

#delete_alerta.aberto {
  transform: scaleY(1);
}

#delete_alerta h2 {
  font-size: 2rem;
}

#delete_alerta h3 {
  margin-top: 20px;
  font-size: 1.7rem;
  color: rgba(255, 77, 109, 0.8);
}

#delete_alerta > div {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#delete_alerta > div button {
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid var(--texto_terciario);
  color: var(--texto_secundario);
}

#delete_alerta #confirmar {
  border-color: transparent;
  background: rgba(255, 0, 0, 0.2);
  color: var(--texto_primario);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

/* FOOTER -------------------------------------------------------- */
/* FOOTER -------------------------------------------------------- */
/* FOOTER -------------------------------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  justify-items: center;
  opacity: 0.8;
  transition: opacity 0.5s;
}

footer.nada {
  opacity: 0;
}

footer h1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

footer svg {
  height: 30px;
}

/* CANVAS -------------------------------------------------------- */
/* CANVAS -------------------------------------------------------- */
/* CANVAS -------------------------------------------------------- */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
