/* HEADER --------------------------------------------------------- */
/* HEADER --------------------------------------------------------- */
/* HEADER --------------------------------------------------------- */

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 15dvh;
}

#hud_box {
  border: 3px solid rgba(126, 41, 224, 0.73);
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(100deg, #200273ad, #170e78b2);
}

header h1 {
  font-size: 2rem;
  text-shadow: 0 0 10px currentColor;
}

header h1 span:first-of-type {
  color: var(--neon_primario);
}

header h1 span:nth-of-type(2) {
  color: var(--neon_secundario);
}

header h1 span:nth-of-type(3) {
  color: var(--neon_terciario);
}

#level_info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  padding: 0 5px;
}

#barra_level_container {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

#barra_level {
  transform-origin: left;
  transition: transform 1s;
  transform: scaleX(0);
  height: 3px;
  background-color: var(--neon_terciario);
}

header p {
  font-size: 1rem;
  line-height: 20px;
}

/* INPUT --------------------------------------------------------- */
/* INPUT --------------------------------------------------------- */
/* INPUT --------------------------------------------------------- */

.center {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

#input_container {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
}

#input_container input {
  width: 100%;
  background-color: rgb(10, 43, 104);
  color: var(--texto_primario);
  border: 2px solid var(--texto_secundario);
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
}

input:focus {
  border-color: var(--neon_secundario) !important;
}

#input_container input.erro {
  border-color: red;
  animation: erro 0.5s linear forwards;
}

@keyframes erro {
  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(-10%);
  }
}

#input_container button {
  color: black;
  background-color: #56e041;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}
