/* @media (width < 75rem) {
  body {
    border: 2px solid green;
  }
}

@media (width < 56.25rem) {
  body {
    border: 2px solid blue;
  }
} */

@media (width < 37.5rem) {
  /* body {
    border: 2px solid red;
  } */

  header {
    gap: 15px;
  }

  header h1 {
    font-size: 1.3rem;
    padding: 5px;
  }

  .center {
    gap: 7px;
  }

  #input_container input {
    font-size: 1rem;
  }

  #input_container button {
    padding: 5px 10px;
  }

  /* #barra_progresso {
    margin: 10px 0;
  } */
}
